<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="home.ned.lul">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback">
        <activity
            android:name=".MainActivity"
            android:banner="@drawable/app_icon"
            android:icon="@drawable/app_icon"
            android:label="@string/app_name"
            android:logo="@drawable/g"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailsActivity" />
        <activity android:name=".PlaybackOverlayActivity" />
        <activity android:name=".BrowseErrorActivity" />

        <service
            android:name=".NetworkStreamService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".NativePlaybackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_native_playback"
            android:parentActivityName=".MainActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="home.ned.lul.MainActivity" />
        </activity>

        <service
            android:name=".SeparateAudioStreamService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".EPGService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>